<!doctype>
<html>
<head>
  <title>nopal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="clock">
    {{{clock}}}
  </div>
  <script src="/scripts/bundle.js"></script>
</body>
</html>
