<!doctype html>
<html>
<head>
  <title>Nopal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="router">{{{router}}}</div>
  <script src="/scripts/bundle.js"></script>
</body>
</html>
